* {
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
    color:black;
}


body {
    font-family: "Raleway", sans-serif;

}

.main, .header {
    margin-left:5%;
    margin-right:5%;
}

/* HEADER PAGE */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2em;
}


.header img {
    height:5em;
    position: relative;
    right: 30px;
}

.header-right a {
    padding:40px 50px;
    display: block;
}

.nav {
    display: flex;
    color:black;
    font-weight: bold;
}

.header-right a:hover {
    color: #0065FC;
    border-top: #0065FC solid;
}

/* SEARCH */

.search > * {
    margin-bottom:20px;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.search-icon {
    display: inline;
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 15px 0 0 15px;
}

.search-input {
    font-weight: bold;
    height: 50px;
    width: 300px;
    border: 1px solid #F2F2F2;
    font-size: 1em;
    border-radius: 0;
    padding-left:20px;
}

.search-button {
    height:50px;
    padding:16px;
    color:white;
    background: #0065FC;
    font-weight: bold;
    border:none;
    border-radius:0 15px 15px 0;
    font-size:1em;
}

.search-button:hover {
    opacity: 0.7;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.filtres-content {
    margin: 0 25px 15px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    display: flex;
}

.filtres-content:hover {
    transform: scale(1.1);
}

.filtres-icon { 
    color: #0065FC;
    background: #DEEBFF;
    padding: 10px;
    border-radius: 41px;
    min-height: 39px;
    min-width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtres-text {
    font-weight:bold;
    padding: 20px;
}

.infos-icon {
    display: inline-block;
    color: #0065FC;
    background: white;
    border: 2px solid #efe9e9;
    padding: 2px 8px;
    border-radius: 20px;
}

.infos-text {
    margin-left:20px;
}

/* SECTION HEBERGEMENTS */

.hebergements {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 7fr 2fr;
}

.hebergements-titre, .activites h2 {
    grid-column: 1/-1;
}

.hebergements-main {
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    margin-top: 20px;
    background: #f2f2f2;
    border-radius: 20px;
}

.card {
    height: 260px;
    width: 290px;
    cursor: pointer;
    margin: 10px auto;
    background: #fff;
    padding: 6px;
    border-radius: 25px;
}

.card:hover, .card-aside:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 5px rgb(95 95 95);
}

.card img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card-content {
    padding: 20px;
}

.card-content > * {
    margin-bottom: 10px;
}

.afficher-plus {
    width:100%;
    font-weight: bold;
}

.fa-star {
    color:rgb(31, 100, 250);
}

/* ASIDE */

.aside {
    display: grid;
    row-gap: 2rem;
    padding: 30px;
    margin-top: 20px;
    background: #f2f2f2;
    border-radius: 20px;
}

.aside h2 {
    display: flex;
    justify-content: space-between;
}

.card-aside {
    width: 390px;
    height: 200px;
    cursor: pointer;
    background: #fff;
    border-radius: 25px;
}

.card-aside img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}

.card-aside-content {
    padding: 15px;
}

.card-aside-content > * {
    margin-bottom:30px;
}

.wrap {
    display: flex;
    height: 100%;
}

/* ACTIVITES */ 

.activites {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto 20rem 20rem;
    column-gap: 50px;
    align-items: start;
    padding: 30px;
    margin-top: 20px;
}

.card1 {
    grid-column:1;
    grid-row:2;
}

.card2 {
    grid-column: 2;
    grid-row: 2;
}

.card3 {
    grid-column: 2;
    grid-row:3;
}

.card4 {
    grid-column: 3;
    grid-row: 2;
}

.card5 {
    grid-column: 4;
    grid-row: 2;
}

.card6 {
    grid-column: 4;
    grid-row: 3;
}

.activites h2 {
    margin-bottom: 20px;
}

.card1, .card4 {
    height: 600px;
}

.card2, .card3, .card5, .card6 {
    height: 280px;
    min-width: 300px;
    margin-bottom: 40px;
    border-radius:25px;
    box-shadow: 0 0 5px rgb(160 160 160);
    cursor: pointer;
}

.card1, .card4 {
    border-radius:25px;
    box-shadow: 0 0 5px rgb(160 160 160);
    cursor: pointer;
    
}

.activites div:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px 5px rgb(95 95 95);
}

.card1 img, .card4 img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card2 img, .card3 img, .card5 img, .card6 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.text-activites {
    padding: 10px;
}



/* !!!!! Récupérer effet hover card * !!!!!!!! / 

/* FOOTER */

footer {
    margin-top: 90px;
    background: rgb(243, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

footer a:hover {
    text-decoration: underline;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column > h3 {
    margin: 20px 0;
}

.footer-column > a {
    margin:5px 0
}

/* RESPONSIVE */ 

@media screen and (max-width:1560px) {
    .hebergements {
        grid-template-columns: 1fr;
    row-gap: 2rem;
    }

    aside {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px 15rem;
    column-gap: 2rem;
    grid-row-start: 1;
    }

    aside h2 {
        grid-column: 1/-1;
    }

    .activites {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 1fr 1fr;
    }

    .card1, .card2, .card3, .card4, .card5, .card6 {
        height: 200px;
        width: 400px;
    }

    .card1 {
        grid-column: 1;
        grid-row: 2;
    }

    .card2 {
        grid-column: 2;
        grid-row: 2;
    }

    .card3 {
        grid-column: 3;
        grid-row: 2;
    }
    .card4 {
        grid-column: 1;
        grid-row: 3;
    }

    .card5 {
        grid-column: 2;
        grid-row: 3;
    }

    .card6 {
        grid-column: 3;
        grid-row: 3;
    }

    .card1 img, .card4 img {
        height: 80%;
    }
    .text-activites {
        font-size:15px;
    }

    footer {
        margin-top: 0px;
    }

}

@media screen and (max-width:1320px) {

    .aside {
        grid-template-columns: 1fr;
        grid-template-rows: auto repeat(3, 9rem)
    }

    .card-aside {
        height: 100%;
        width: 100%;
    }

    .card-aside-content > * { 
        margin-bottom: 10px;
    }

    .hebergements-main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:1320px) {
    
    .activites {
        grid-template-columns: 50% 50%;
        grid-template-rows: 40px 1fr 1fr 1fr;
    }

    .card3 {
        grid-column: 1;
        grid-row: 4;
    }

    .card6 {
        grid-column: 2;
        grid-row: 4;
    }

}

@media screen and (max-width:900px) {
    .activites {
        grid-template-columns: 100%;
        grid-template-rows: 40px 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .activites div {
        width: 100%;
    }
    .card2 {
        grid-column: 1;
    grid-row: 5;
    }
    .card5 {
        grid-column: 1;
    grid-row: 6;
    }
    .card6 {
        grid-column: 1;
    grid-row: 7;
    }
}

@media screen and (max-width:736px) {
    .hebergements-main {
        grid-template-columns: 100%;
    }
    .card {
        width: 100%;
    }
    footer {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width:600px) {
    .header {
        display: grid;
    }
    .header-right a:hover {
        color: #0065FC;
        border-bottom: #0065FC solid;
        border-top: none;
    }
    .search-form {
        display: flex;
        width: 100%;
    }

    .filtres {
        flex-direction: column;
    }

    h3 {
        font-size:15px;
    }
}
@media screen and (max-width:430px) {
    .search-button {
        padding:0;
    }
    .activites {
        padding:0;
    }
    .search-input {
        width: 100%;
    }
    .header-right a {
        padding:30px 25px;
    }
}

@media screen and (max-width:320px) {
    .search-input {
        font-size:13px;
    }

    h3 {
        font-size:14px;
    }
    p {
        font-size:12px;
    }
}